MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY= seuacesskey
MINIO_SECRET_KEY= suasecretkey
ALERT_SMTP_USER="seuemail@example.com"
ALERT_SMTP_PASS="senhadoapp"
ALERT_TO_EMAIL="email_destino@example.com"
ALERT_FROM_EMAIL="email_origem@example.com"
MINIO_ROOT_PASSWORD= suasenharoot